<%- include('partials/header') %>
            
            <h1>Home</h1>
            <p>You must <a href="/login">login</a> or <a href="/register">register</a> if you would like to access this site.</p>

<%- include('partials/footer') %>